{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load bootstrap_pagination %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load utils_tags %}

{% block head %}
{% endblock head %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_dev.css' %}">
    <style>
        canvas.drawing, canvas.drawingBuffer {position: absolute; left: 0; top: 0;}
    </style>
{% endblock extra_css %}

{% block content %}
    <section class="content">
        <div class="container card_columns">
            <div class="row">
                <div class="col-12">
                    <div class="filters">
                        <form method="GET" class="filter-form" id="id-filter-form">
                            <div class="card">
                                <div class="card-body">
                                    {% if request.GET.order_by %}
                                    <input type="hidden" name="order_by" value="{{ request.GET.order_by }}">
                                    {% endif %}
                                    <input type="hidden" name="page" value="{{ request.GET.page }}">
                                    <input type="hidden" name="page_size" value="{{ request.GET.page_size }}">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                                </div>
                                                {% render_field object_list.form.custom_search class+="form-control" placeholder="Search PMs" bound_css_class="cls_filter" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            {% bootstrap_field object_list.form.building bound_css_class="cls_filter" %}
                                        </div>
                                        <div class="col-sm-4">
                                            {% bootstrap_field object_list.form.floor bound_css_class="cls_filter" %}
                                        </div>
                                        <div class="col-sm-4">
                                            {% bootstrap_field object_list.form.department bound_css_class="cls_filter" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title float-left font-weight-bold">Current PM/Inspection: <span class="text-info count_int">{{ object_list.qs.count }}</span></h3>
                        </div>
                        <div class="card-body">
                            {% qs_paginator object_list.qs as page %}
                            <table id="RecordTable" class="table table-striped table-hover projects">
                                <thead>
                                    <tr class="table_tr_table2">
                                        <th class="min-phone-1 font-weight-bold">Code</th>
                                        <th class="desktop font-weight-bold">Asset ID</th>
                                        <th class="desltop font-weight-bold">Critical Days Remaining</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pm in page.object_list %}
                                    <tr class="clickable-row click_td" 
                                        data-href="{% url 'preventivemaintenance:preventive_maintenance_detail' pm.id %}">
                                        <td>{{pm.slug}}</td>
                                        <td>{{pm.asset.slug}}</td>
                                        <td>Custom Tag</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card back_btn">
                        <div class="card-body">
                            <a href="{% url 'dashboard:home' %}" type="button" 
                                class="btn btn-block btn-primary btn-view text-primary pm_buttons">
                                <strong>Back</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

{% block extra_js %}

<script>
    $("#id_building").change(function(){
        var url = "{% url 'systemandfacility:building-list' %}"
        var building = $(this).val();
        $.ajax({
            url:url,
            data:{
                'building':building
            },
            success: function(data){
                $('#id_floor').html(data);
            }
        });
    });

    $("#id_floor").change(function(){
        var url = "{% url 'systemandfacility:floor-list' %}"
        var floor = $(this).val();
        $.ajax({
            url:url,
            data:{
                'floor':floor
            },
            success: function(data){
                $('#id_department').html(data);
            }
        });
    });

    jQuery(document).ready(function($){
        $(".clickable-row").click(function(){
            window.location=$(this).data("href")
        })
    })
</script>

{% endblock %}