{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load i18n %}

{% load utils_tags %}

{% block extra_css %}

{% endblock extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_dev.css' %}">
    <style>
        canvas.drawing, canvas.drawingBuffer {position: absolute; left: 0; top: 0;}
    </style>
{% block content %}
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-primary font-weight-bold">Preventive Maintenance</h3>
                    <h3 class="card-title text-secondary font-weight-bold float-right">Code: {{preventivemaintenance_slug}}</h3>
                </div>
                <div class="card-body">
                    <div class="stepwizard">
                        <div class="stepwizard-row setup-panel">
                            {% for category in categories %}
                            <div class="stepwizard-step col-xs-3">
                                <a href="#step-{{forloop.counter}}" type="button" class="btn {% if forloop.counter == 1 %} btn-success {% endif %} btn-circle {% if forloop.counter != 1 %} disabled {% endif %}">{{forloop.counter}}</a>
                                <p><label for="" class="text-capitalize">{{category.title}}</label></p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card card-primary">
                    <form action="{% url 'preventivemaintenance:preventive-maintenance-question-answer-form-step' preventivemaintenance_slug pk step %}{{request.get_full_path|cut:request.path}}"
                    method="post" class="form-horizontal" id="question_answer_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for category in categories %}
                            <div class="panel panel-primary setup-content" data-cat_name="{{category.title}}" id="step-{{ forloop.counter }}">
                                <div class="card-header wo_header">
                                    <h3 class="card-title font-weight-bold text-capitalize pm_details">{{ category.title }}</h3>
                                </div>
                                <div class="card-body text-capitalize pm_card_body" id="{{ category.slug }}" data-step="step-{{ forloop.counter }}" data-step_last="step-{{ categories|length }}">
                                    {% get_preventivemaintenance_form preventivemaintenance_slug asset request.user forloop.counter0 as form %}
                                    {% bootstrap_form form %}
                                </div>
                                <div class="card-footer text-center preventivemaintenance-form-btn">
                                    {% if form.has_next_step %}
                                        <div class="row">
                                            <button class="btn btn-primary btn-block nextBtn mt-2 mb-2 pm_buttons font-weight-bold" type="button">Submit</button>
                                        </div>
                                        <div class="row">
                                            <a href="{% url 'preventivemaintenance:preventive_maintenance_details' pk %}" class="btn btn-outline-primary btn-block mt-2 mb-2 prevBtn pm_buttons fort-wieght-bold" type="button">Previous</a>
                                        </div>
                                        <div class="row">
                                            <button class="btn btn-outline-primary btn-block mt-2 save_and_exit pm_buttons font-weight-bold">Save and Exit</button>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <button class="btn btn-primary btn-block nextBtn mt-2 mb-2 pm_buttons font-weight-bold" type="button"
                                            onclick="javescript=this.disabled = true; form.submit();">Submit</button>
                                        </div>
                                        <div class="row">
                                            <button class="btn btn-outline-primary btn-block mt-2 mb-2 prevBtn pm_buttons fort-wieght-bold" type="button">Previous</button>
                                        </div>
                                        <div class="row">
                                            <button class="btn btn-outline-primary btn-block mt-2 save_and_exit pm_buttons font-weight-bold">Save and Exit</button>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript"> 
        $(function (){
            var navListItems = $("div.setup-panel div a"),
                allWells = $(".setup-content"),
                allNextBtn = $(".nextBtn");
            allPrevBtn = $(".prevBtn"),
            navListItems.click(function(e){
                e.preventDefault();
                var $target = $($(this).attr("href")),
                    $item = $(this);
                if (!$item.hasClass("disabled")) {
                    navListItems.removeClass("btn-success").addClass("btn-default")
                    $item.removeClass("btn-default").addClass("btn-success");
                    allWells.hide();
                }
                $target.show()
            });
            allNextBtn.click(function (){
                var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                    curInputs = curStep.find("input[type='text'], input[type='number'], input[type='url'], input[type='file'], select, textarea"),
                    isValid = true
                $("input").removeClass("is-invalid");
                var delay = 0;
                var offset = 200;
                for (var i=0; i < curInputs.length; i++) {
                    if (!curInputs[i].validity.valid || curInputs[i].value == '') {
                        if (curInputs[i].closest('div').children[3] == null) {
                            isValid = false;
                            $(curInputs[i]).addClass("is-invalid");
                            $('html, body').animate({scrollTop: $($(".is-invalid")[0]).offset().top - offset }, delay);
                        }
                    }
                    else {
                        if ($(curInputs[i]).hasClass("is-invalid")) {
                            $(curInputs[i]).removeClass("is-invalid");
                        }
                        $(curInputs[i]).addClass("is-valid")
                    }
                }
                if (isValid) nextStepWizard.removeClass("disabled").trigger("click");
            });
            allPrevBtn.click(function (){
                var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn +'"]').parent().prev().children("a"),
                    curInputs = curStep.find("input[type='text'], input[type='url'], input[type='file'], input[type='radio'], select, textarea"),
                    isValid = true;
                $("input").removeClass("is-invalid");
                if (isValid) nextStepWizard.removeClass('disabled').trigger('click');
            });
            $('div.setup-panel div a.btn-success').trigger('click');
        })
    </script>
    <script type="text/javascript">
        $(document).on('change', 'select', function (){
            obj = $(this);
            ele = document.getElementById($(this).attr('id'));
            step = this.parentElement.parentElement.dataset['step']
            if (obj.attr('warning_options') != 'None'){
                if (obj.attr('warning_options').toLocaleLowerCase() == this.value.toLocaleLowerCase()) {
                    is_element_available = document.getElementById('warning-' + $(this).attr('id'))

                    if (is_element_available) {
                        is_element_available.remove()
                        warning_ele = document.createElement('div')
                        warning_ele.className = "text-warning warning-msg";
                        warning_ele.id = "warning-" + $(this).attr('id');
                        warning_ele.innerHTML = obj.attr("warnings");
                        ele.after(warning_ele);
                        $('#continue-' + step).prop('disabled', true);
                    }
                    else {
                        warning_ele = document.createElement('div');
                        warning_ele.className = "text-warning warning-msg";
                        warning_ele.id = "warning-" + $(this).attr('id');
                        warning_ele.innerHTML = obj.attr('warnings');
                        ele.after(warning_ele);
                        $('#continue-' + step).prop('disabled', true);
                    }
                    return false
                }
                else {
                    is_element_available = document.getElementById('warning-' + $(this).attr('id'))
                    if (is_element_available) {
                        is_element_available.remove()
                        $('#continue-' + step).prop('disabled', false)
                    }
                }
            }
        });
        $("input[type='radio']").on('change', function (){
            clearTimeout(radiochangetimer);
            obj = $(this);
            ele = document.getElementById($(this).attr('id'));
            
            if (obj.attr('warning_options') != 'None') {
                if (obj.attr('warning_options').toLocaleLowerCase() == this.value.toLocaleLowerCase()) {
                    is_element_available = document.getElementById('warning-' + $(this).attr('id'))
                    if (is_element_available) {
                        is_element_available.remove()
                        warning_ele = document.createElement('div');
                        warning_ele.className = "text-warning warning-msg";
                        warning_ele.id = "warning-" + $(this).attr('id');
                        warning_ele.innerHTML = obj.attr('warnings');
                        ele.after(warning_ele);
                        $('#continue-' + step).prop('disable', true);
                    }
                    else {
                        warning_ele = document.createElement('div');
                        warning_ele.className = "text-warning warning-msg";
                        warning_ele.id = "warning-" + $(this).attr('id');
                        warning_ele.innerHTML = obj.attr('warnings');
                        ele.after(warning_ele);
                        $('#continue-' + step).prop('disable', true);

                    }
                    return false
                }
                else {
                    is_element_available = document.getElementById('warning-' + $(this).attr('id'))
                    if (is_element_available) {
                        is_element_available.remove()
                        $('#continue-' + step).prop('disable', true);
                    }
                }
            }
        })
    </script>
{% endblock estra_js %}