{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block extra_css %}

{% endblock extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_dev.css' %}">
    <style>
        canvas.drawing, canvas.drawingBuffer {position: absolute; left: 0; top: 0;}
    </style>
{% block content %}

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-primary font-weight-bold">Asset ID: <span class="text-primary font-weight-bold">{{object.asset.slug}}</span></h3>  
                    </div>
                    <div class="card-body d-flex justify-content-center">
                        <div class="pm_image">
                            {% if object.image %}
                                <img src="{{ object.image.url }}" class="table-avatar" height="200" width="200" alt="avatar">
                            {% else %}
                                <img src="https://sesio.s3.amazonaws.com/dev/static/img/logo/logo.png" class="table-avatar" alt="avatar">
                            {% endif%}
                            <button class="btn btn-primary btn-lg btn-block">Update Photo 1</button>
                        </div>
                        &nbsp;
                        &nbsp;
                        <div class="pm_image">
                            {% if object.image %}
                                <img src="{{ object.image.url }}" class="table-avatar" height="200" width="200" alt="avatar">
                            {% else %}
                                <img src="https://sesio.s3.amazonaws.com/dev/static/img/logo/logo.png" class="table-avatar" alt="avatar">
                            {% endif%}
                            <button class="btn btn-primary btn-lg btn-block">Update Photo 2</button>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>

<!-- This is the initial Details table. When you click the Update button, this is hidden.-->
        <form action="" id="pm_details" data-object-id="{{ object.id }}">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <h3 class="pm_details card-title font-weight-bold text-primary">Location Details</h3>
                    <button class="btn btn-primary btn-view font-weight-bold pm_details card-title float-right" id="update_button" type="button">Update Details</button>
                </div>
                <div class="card-body table__ul">
                    <ul class="pm_details">
                        <li>Facility</li>
                        <li>{{ object.facility }}</li>
                    </ul>
                    <ul class="pm_details">
                        <li>Building</li>
                        <li>{{ object.asset.location.building }}</li>
                    </ul>
                    <ul class="pm_details">
                        <li>Floor</li>
                        <li>{{ object.asset.location.floor.number }}</li>
                    </ul>
                    <ul class="pm_details">
                        <li>Department</li>
                        <li>{{ object.asset.location.department }}</li>
                    </ul>
                    <ul class="pm_details">
                        <li>Location</li>
                        <li>{{ object.asset.location }}</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title pm_details font-weight-bold text-primary">Asset Details</h3>
                </div>
                <div class="card-body table__ul">
                    <ul class="pm_details">
                        <li>Type</li>
                        <li>{{ object.asset.asset_type }}</li>
                    </ul>
                    <ul class="pm_details">
                        <li>Weight</li>
                        <li>{{ object.asset.attribute_set.weight }}</li>
                    </ul>
                    <ul class="pm_details">
                        <li>Brand</li>
                        <li>{{ object.asset.attribute_set.brand }}</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="#" type="submit" class="btn btn-primary btn-lg btn-block font-weight-bold pm_buttons">Next</a>
                    <a href="{% url 'preventivemaintenance:preventive_maintenance_list' %}" type="submit" class="btn btn-block btn-view font-weight-bold pm_buttons">Save and Exit</a>
                </div>
            </div>

        </form>

<!-- This is the Update Form. This is shown when you click the Update button -->
        <form action="" method="post" id="pm_update" enctype="multipart/form-data" style="display:none;">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <h3 class="pm_details card-title font-weight-bold text-primary">Location Details</h3>
                </div>
                <div class="card-body table__ul">
                    <ul class="pm_details">
                        <li>Facility</li>
                        <li>{{ location_form.facility }}</li>
                    </ul>
                    <ul class="pm_details">
                        <li>Building</li>
                        <li>{{ location_form.building }}</li>
                    </ul>
                    <ul class="pm_details">
                        <li>Floor</li>
                        <li>{{ location_form.floor }}</li>
                    </ul>
                    <ul class="pm_details">
                        <li>Department</li>
                        <li>{{ location_form.department }}</li>
                    </ul>
                    <ul class="pm_details">
                        <li>Location</li>
                        <li>{{ location_form.specific_location }}</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title pm_details font-weight-bold text-primary">Asset Details</h3>
                </div>
                <div class="card-body table__ul">
                    <ul class="pm_details">
                        <li>Type</li>
                        <li>{{ asset_update.asset_type }}</li>
                    </ul>
                    <ul class="pm_details">
                        <li>Weight</li>
                        <li>{{ asset_update.weight }}</li>
                    </ul>
                    <ul class="pm_details">
                        <li>Brand</li>
                        <li>{{ asset_update.brand }}</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="#" type="submit" class="btn btn-primary btn-lg btn-block font-weight-bold pm_buttons">Next</a>
                    <button type="submit" class="btn btn-block btn-view font-weight-bold pm_buttons">Save and Exit</button>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock content %}

{% block extra_js %}

<script>

//Hide or show update fields

    $('#update_button').click(function(){
        $('#pm_details').hide();
        $('#pm_update').show()
    });

//

    $('#id_facility').change(function(){
        var url = "{% url 'systemandfacility:building-list' %}"
        var facility = $(this).val();
        if (facility){
            $.ajax({
                url:url,
                data:{
                    'facility':facility
                },
                success: function(data){
                    $('#id_building').html(data);
                    $('#id_floor').html('<option value="">----</option>')
                    $('#id_department').html('<option value="">----</option>')
                }
            });
        }
        else {
            $('#id_building').html('<option value="">----</option>')
            $('#id_floor').html('<option value="">----</option>')
            $('#id_department').html('<option value="">----</option>')
        }
    })

    $('#id_building').change(function(){
        var url = "{% url 'systemandfacility:floor-list' %}"
        var building = $(this).val();
        if (building){
            $.ajax({
                url:url,
                data:{
                    'building':building
                },
                success: function(data){
                    $('#id_floor').html(data);
                    $('#id_department').html('<option value="">----</option>')
                }
            })
        }
        else {
            $('#id_floor').html('<option value="">----</option>')
            $('#id_department').html('<option value="">----</option>')
        }
    })

    $('#id_floor').change(function(){
        var url = "{% url 'systemandfacility:department-list' %}"
        var floor=$(this).val();
        if (floor){
            $.ajax({
                url:url,
                data:{
                    'floor':floor
                },
                success: function(data){
                    $('#id_department').html(data);
                }
            })
        }
        else {
            $('#id_department').html('<option value="">----</option>')
        }
    })
</script>

{% endblock extra_js %}