{% extends "base.html" %}

{% block content %}

    <section class="content">
        <div class="container card_columns">
            <div class="card homepage_card">
                <div class="card-body homepage_view">
                    <h4 style="text-align:center">What would you like to do?</h4>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="card homepage_card">
                        <div class="card-body homepage_body">
                            <a href="http://" class="btn btn-primary text-left btn__font-size btn__full__width">
                                <div>
                                    <i class="bi-pencil-square"></i>
                                    <span class="ml-2">Log New Work Order</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="card homepage_card">
                        <div class="card-body homepage_body">
                            <a href="http://" class="btn btn-primary text-left btn__font-size btn__full__width">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <i class="bi-card-checklist"></i>
                                        <span class="ml-2">View Work Order</span>
                                    </div>
                                    <div class="btn_def">
                                        <button class="btn badge__btn_style btn-default">2</button>
                                        <button class="btn btn-default exclamation">
                                            <i class="fas fa-exclamation"></i>
                                        </button>
                                    </div>
                                </div>
                                
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="card homepage_card">
                        <div class="card-body homepage_body">
                            <a href="http://" class="btn btn-primary text-left btn__font-size btn__full__width">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <i class="bi-card-checklist"></i>
                                        <span class="ml-2">Perform PM/Inspection</span>
                                    </div>
                                    <div class="btn_def">
                                        <button class="btn badge__btn_style btn-default">2</button>
                                        <button class="btn btn-default exclamation">
                                            <i class="fas fa-exclamation"></i>
                                        </button>
                                    </div>
                                </div>
                                
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="card homepage_card">
                        <div class="card-body homepage_body">
                            <a href="http://" class="btn btn-primary text-left btn__font-size btn__full__width">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <i class="bi-card-checklist"></i>
                                        <span class="ml-2">Map</span>
                                    </div>
                                </div>
                                
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="card homepage_card">
                        <div class="card-body homepage_body">
                            <a href="http://" class="btn btn-primary text-left btn__font-size btn__full__width">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <i class="bi-card-checklist"></i>
                                        <span class="ml-2">Scan Bar Code</span>
                                    </div>
                                </div>
                                
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<p></p>