{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

<section class="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">New Work Order</h4>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <table>
                        {{ wizard.management_form }}
                        {% if wizard.form.forms %}
                            {% for field in wizard.form.forms %}
                                {% bootstrap_field form.priority %}
                                {% bootstrap_field form.status %}
                                {% bootstrap_field form.completed_at %}
                                <div class="form-group">
                                    <label for="WorkOrderStatusForm-assigned_to">Assigned To</label>
                                    <select name="WorkOrderStatusForm-assigned_to" id="WorkOrderStatusForm-assigned_to" class="form-control">
                                        <option value="{{ request.user.pk }}" selected="">Self</option>
                                        <option value="{{ dispatch_user.pk }}" selected="">Dispatch</option>
                                        {% for user in users %}
                                            <option value="{{ user.pk }}" selected="">{{ user.get_full_name }}</option> 
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endfor %}
                        {% else %}
                            {% bootstrap_field form.priority %}
                            {% bootstrap_field form.status %}
                            {% bootstrap_field form.completed_at %}
                            <div class="form-group">
                                <label for="WorkOrderStatusForm-assigned_to">Assigned To</label>
                                <select name="WorkOrderStatusForm-assigned_to" id="WorkOrderStatusForm-assigned_to" class="form-control">
                                    <option value="{{ request.user.pk }}" selected="">Self</option>
                                    <option value="{{ dispatch_user.pk }}" selected="">Dispatch</option>
                                    {% for user in users %}
                                        <option value="{{ user.pk }}" selected="">{{ user.get_full_name }}</option> 
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                    </table>
                    <div class="form-group">
                        <div class="row">
                            {% if wizard.steps.prev %}
                            <div class="col">
                                <button name="wizard_goto_step" value="{{ wizard.steps.prev }}" class="btn btn-block btn-outline-primary btn-lg" formnovalidate="formnovalidate">
                                    {% trans "Previous" %}
                                </button>
                            </div>
                            {% endif %}
                            <div class="col">
                                <input type="submit" name="wizard_goto_step" class="btn btn-block btn-primary btn-lg" value="Submit">
                            </div>
                        </div>
                    </div>
                </form>   
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block extra_js %}
<script>
$("#id_WorkOrderStatusForm-completed_at").parent().css('display', 'none')
$("input[type=radio][name=WorkOrderStatusForm-status]").on("change", function(){
    debugger
    if (this.value === "closed"){
        $("#id_WorkOrderStatusForm-completed_at").parent().css('display', 'block')
        $("#WorkOrderStatusForm-assigned_to").parent().css('display', 'none')
    }
    else {
        $("#WorkOrderStatusForm-assigned_to").parent().css('display', 'block')
        $("#id_WorkOrderStatusForm-completed_at").parent().css('display', 'none')
    }
})
</script>
{% endblock extra_js %}