{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load bootstrap_pagination %}
{% load el_pagination_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}


{% block content %}
<div class="content">
    <div class="container card_colomns">
        <div class="row">
            <div class="col-12">
                <div class="filters">
                    <form method="GET" class="filter-form" id="id-filter-form">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    {% if request.GET.order_by %}
                                    <input type="hidden" name="order_by" value="{{ request.GET.order_by }}">
                                    {% endif %}
                                    <input type="hidden" name="page" value="{{ request.GET.page }}">
                                    <input type="hidden" name="page_size" value="{{ request.GET.page_size }}">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                                            </div>
                                            {% render_field assigned_workorders.form.custom_search class="form-control" placeholder="Search Work Orders" bound_css_class="cls_filter"%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        {% bootstrap_field assigned_workorders.form.building bound_css_class="cls_filter" %}
                                    </div>
                                    <div class="col-sm-4">
                                        {% bootstrap_field assigned_workorders.form.floor bound_css_class="cls_filter" %}
                                    </div>
                                    <div class="col-sm-4">
                                        {% bootstrap_field assigned_workorders.form.department bound_css_class="cls_filter" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card" id="assigned_workorders_div">
                    <div class="card-header">
                        <h3 class="card-title float-left pm_details font-weight-bold">
                            Your Work Orders: <span class="text-info count_int">{{ assigned_workorders.qs.count }}</span>
                        </h3>
                        <h3 class="card-title float-right text-danger pm_details mr-5 font-weight-bold">
                            Critical/Urgent: <span class="urgent_count">{{urgent_count}}</span>
                        </float-right>
                    </div>
                    <div class="card card-body able-responsive">
                        {% paginate assigned_workorders.qs as assigned_workorders_page %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="min-phone-l font-weight-bold">Priority</th>
                                    <th class="desktop font-weight-bold">Building</th>
                                    <th class="desktop font-weight-bold">Floor</th>
                                    <th class="desktop font-weight-bold">Work Order Title</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for wo in assigned_workorders_page %}
                                    <tr class="clickable-row" data-href="{% url 'workorder:work_order_detail' wo.id %}">
                                        <td>{{ wo.priority }}</td>
                                        <td>{{ wo.location.building.name }}</td>
                                        <td>{{ wo.location.floor }}</td>
                                        <td>{{ wo.brief_description }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination_wo_list" id="assigned_workorders_page">
                        {% show_pages %}
                    </div>
                </div>
                <div class="card" id="unassigned_workorders_div">
                    <div class="card-header">
                        <h3 class="card-title float-left pm_details font-weight-bold">
                            Unassigned Work Orders: <span class="text-info count_int">{{ unassigned_workorders.qs.count }}</span>
                        </h3>
                        <h3 class="card-title float-right text-danger pm_details mr-5 font-weight-bold">
                            Critical/Urgent: <span class="urgent_count">{{unassigned_urgent_count}}</span>
                        </float-right>
                    </div>
                    <div class="card card-body able-responsive">
                        {% paginate unassigned_workorders.qs as unassigned_workorders_page %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="min-phone-l font-weight-bold">Priority</th>
                                    <th class="desktop font-weight-bold">Building</th>
                                    <th class="desktop font-weight-bold">Floor</th>
                                    <th class="desktop font-weight-bold">Work Order Title</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for wo in unassigned_workorders_page %}
                                    <tr class="clickable-row" data-href="{% url 'workorder:work_order_detail' wo.id %}">
                                        <td>{{ wo.priority }}</td>
                                        <td>{{ wo.location.building.name }}</td>
                                        <td>{{ wo.location.floor }}</td>
                                        <td>{{ wo.brief_description }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination_wo_list" id="unassigned_workorders_page">
                        {% show_pages %}
                    </div>
                    <div class="card-footer back_btn">
                        <a href="{% url 'dashboard:home' %}" type="button"
                            class="btn btn-block btn-primary btn-view text-primary pm_buttons">
                            <strong>Back</strong></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}

<script>
    $("#id_building").change(function(){
        var url = "{% url 'systemandfacility:building-list' %}"
        var building = $(this).val();
        $.ajax({
            url:url,
            data:{
                'building':building
            },
            success: function(data){
                $('#id_floor').html(data);
            }
        });
    });

    $("#id_floor").change(function(){
        var url = "{% url 'systemandfacility:floor-list' %}"
        var floor = $(this).val();
        $.ajax({
            url:url,
            data:{
                'floor':floor
            },
            success: function(data){
                $('#id_department').html(data);
            }
        });
    })

    jQuery(document).ready(function($){
        $(".clickable-row").click(function(){
            window.location=$(this).data("href")
        })
    })
</script>

{% endblock extra_js %}