{% extends "base.html" %}
{% load bootstrap4 %}
{% load bootstrap_pagination %}
{% load el_pagination_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content">
    <div class="container card_colomns">
        <div class="row">
            <div class="col-12">
                <div class="card" id="">
                    <div class="card-header">
                        <h3 class="card-title float-left pm_details text-primary font-weight-bold">
                            Work Order No: <span class="text-info text-dark">{{object.id}}</span>
                        </h3>
                        <h3 class="card-title float-right text-dark pm_details mr-5 font-weight-bold">
                        Priority: <span class="text-danger">{{object.priority}}</span> 
                        </float-right>
                    </div>
                    <div class="card-body">
                        <p class="form-group pm_details"><strong>Work Order Description: </strong>{{ object.brief_description }}</p>
                        <p class="form-group pm_details"><strong>Comment: </strong>{{ object.description }}</p>
                    </div>
                </div>
                <form action="" id="uneditable_fields" data-object-id="{{ object.id }}">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center justify-content-between">
                            <h3 class="card-title float-left pm_details font-weight-bold">
                                Location Details
                            </h3>
                            <button id="edit_button" type="button" class="col-3 btn btn-block btn-outline-primary btn-lg font-weight-bold" style="font-size: 25px">Edit</button>
                            </div>
                        </div>
                        <div class="card-body table__ul">
                            <ul>
                                <li>Facility</li>
                                <li>{{ object.facility }}</li>
                            </ul>
                            <ul>
                                <li>Building</li>
                                <li>{{ object.location.building }}</li>
                            </ul>
                            <ul>
                                <li>Floor</li>
                                <li>{{ object.location.floor }}</li>
                            </ul>
                            <ul>
                                <li>Department</li>
                                <li>{{ object.location.department }}</li>
                            </ul>
                            <ul>
                                <li>Location</li>
                                <li>{{ object.location.specific_location }}</li>
                            </ul>
                        </div>
                    </div>                        
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center justify-content-between">
                            <h3 class="card-title float-left pm_details font-weight-bold">
                                Work Order Details
                            </h3>
                            </div>
                        </div>
                        <div class="card-body table__ul">
                            <ul>
                                <li>Requester</li>
                                <li>{{ object.assigned_to.get_full_name }}</li>
                            </ul>
                            <ul>
                                <li>Requester Email</li>
                                <li>{{ object.assigned_to.email }}</li>
                            </ul>
                            <ul>
                                <li>Requester Phone</li>
                                {% if object.assigned_to.phone_number %}
                                    <li>{{ object.assigned_to.phone_number }}</li>
                                {% else %}
                                    <li>No Phone Number Available</li>
                                {% endif %}
                            </ul>
                            <ul>
                                <li>Work Order Type</li>
                                <li>{{ object.category }}</li>
                            </ul>
                            <ul>
                                <li>Created On</li>
                                <li>{{ object.created_at }}</li>
                            </ul>
                        </div>
                    </div>
                </form>

                <!-- Edit Location/Work Order Details -->
                <form action="" method="POST" id="editable_fields" style="display:none">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center justify-content-between">
                            <h3 class="card-title float-left pm_details font-weight-bold">
                                Location Details
                            </h3>
                            </div>
                        </div>
                        <div class="card-body table__ul">
                            <ul>
                                <li>Facility</li>
                                <li>{{ workorder_location_form.facility }}</li>
                            </ul>
                            <ul>
                                <li>Building</li>
                                <li>{{ workorder_location_form.building }}</li>
                            </ul>
                            <ul>
                                <li>Floor</li>
                                <li>{{ workorder_location_form.floor }}</li>
                            </ul>
                            <ul>
                                <li>Department</li>
                                <li>{{ workorder_location_form.department }}</li>
                            </ul>
                            <ul>
                                <li>Location</li>
                                <li>{{ workorder_location_form.specific_location }}</li>
                            </ul>
                        </div>
                    </div>                        
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center justify-content-between">
                            <h3 class="card-title float-left pm_details font-weight-bold">
                                Work Order Details
                            </h3>
                            </div>
                        </div>
                        <div class="card-body table__ul">
                            <ul>
                                <li>Requester</li>
                                <li>{{ workorder_assign_form.requester }}</li>
                            </ul>
                            <ul>
                                <li>Requester Email</li>
                                <li>{{ workorder_assign_form.requester.email }}</li>
                            </ul>
                            <ul>
                                <li>Requester Phone</li>
                                {% if workorder_assign_form.requester.phone_number %}
                                    <li>{{ workorder_assign_form.requester.phone_number }}</li>
                                {% else %}
                                    <li>No Phone Number Available</li>
                                {% endif %}
                            </ul>
                            <ul>
                                <li>Work Order Type</li>
                                <li>{{ object.category }}</li>
                            </ul>
                            <ul>
                                <li>Created On</li>
                                <li>{{ object.created_at }}</li>
                            </ul>
                        </div>
                    </div>
                </form>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'workorder:work_order_list' %}" class="btn pm_buttons btn-block btn-outline-primary btn-lg font-weight-bold">Previous</a>
                        </div>
                        <div class="col">
                            <button form="editable_fields" class="btn pm_buttons btn-block btn-primary btn-lg font-weight-bold" type="submit">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>

// Hide and show editable fields

    $('#edit_button').click(function(){
        $('#uneditable_fields').hide();
        $('#editable_fields').show();
    })

//

    $("#id_facility").change(function(){
        var url = "{% url 'systemandfacility:building-list' %}"
        var facility = $(this).val();
        if (facility){
            $.ajax({
                url:url,
                data:{
                    'facility':facility
                },
                success: function(data){
                    $('#id_building').html(data);
                    $('#id_floor').html('<option value="">-----</option>')
                    $('#id_department').html('<option value="">-----</option>')
                }
            });
        }
        else {
            $('#id_building').html('<option value="">-----</option>')
            $('#id_floor').html('<option value="">-----</option>')
            $('#id_department').html('<option value="">-----</option>')
        }
    });

    $("#id_building").change(function(){
        var url = "{% url 'systemandfacility:floor-list' %}"
        var building = $(this).val();
        if (building){
            $.ajax({
                url:url,
                data:{
                    'building':building
                },
                success: function(data){
                    $('#id_floor').html(data);
                    $('#id_department').html('<option value="">-----</option>')        
                }
            });
        }
        else {
            $('#id_floor').html('<option value="">-----</option>')
            $('#id_department').html('<option value="">-----</option>')
        } 
    });

    $("#id_floor").change(function(){
        var url = "{% url 'systemandfacility:department-list' %}"
        var floor = $(this).val();
        if (floor){
            $.ajax({
                url:url,
                data:{
                    'floor':floor
                },
                success: function(data){
                    $('#id_department').html(data);
                }
            });
        }
        else {
            $('#id_department').html('<option value="">----</option>')
        }
    })

</script>
{% endblock %}